.title{
  font-size: 1.5rem;
  font-weight: 900;
}
.button{
  height: 30px;
  width: 30px;
}
.delete{
   background-color: red;
 }
.edit{
  background-color: green;
}
.save{
  background-color: blue;
}