@import "../styles.scss";
.column{
  background-color: $light-grey;
  border-radius: 5px;
  border: $grey 1px solid;
  @media #{$pc}{
    width: 300px;
    padding: 5px;
}
  @media #{$phone}{
  width: 100%;
  padding: 10px;
}

}
.header{
  min-height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.toolbar{
  display: flex;
}
.title{
  font-size: 1.5rem;
  font-weight: 900;
  word-break: break-all;
  line-height: 2;
}
.button{
  height: 30px;
  width: 30px;
  margin-left: 10px;
}
.delete{
  background: url("../../assets/trash.png") no-repeat;
  background-size: cover;
 }
.edit{
  background: url("../../assets/edit.png") no-repeat;
  background-size: cover;
}