@import "../../styles.scss";
.active{
  background-color: $light-yellow;
  border: $dark-yellow 3px solid;
  @media #{$pc}{
    width: 100px;
  }
  @media #{$phone}{
    width: 100%;
    height: 40px;
  }
}
.disabled{
  @media #{$pc}{
    width: 20px;
  }
  @media #{$phone}{
    width: 100%;
    height: 20px;
  }
}