@import "../styles.scss";

.container{
  display:flex;
  padding: 50px;
  @media #{$phone}{
    flex-direction: column;
    width: 100%;
    padding: 10px;
  }
}
.columnTarget{
  width: 100px;
  height: 100%;
}
.column{
  display: flex;
  @media #{$phone}{
    flex-direction: column;
  }
}