@import "../styles.scss";

.container{
  display:flex;
  flex-wrap: wrap;
  padding: 50px;
  @media #{$phone}{
    flex-direction: column;
    width: 100%;
    padding: 10px;
  }
}
.column{
  display: flex;
  width: 500px;
  @media #{$phone}{
    flex-direction: column;
  }
}